.p-0{
    min-height: 100%;
    background-color: black;
    }
.columna{
    min-height: 300px;
    height: 100vhvh;
}
.agregar-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.agregar-carrito button{
    background-color: white;
    border: black;
    color: black;
    border-radius: 100px;
}
.agregar-carrito button:hover{
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
} 
.agregar-carrito button:active  {
    background-color: #ffffff !important;
    border: 1px solid rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}
@media (min-width: 768px) {
.agregar-carrito {
   display: flex;
   justify-content: center;
   align-items: center;
   
    }
  
    .agregar-carrito button {
        max-width: 50%;
       margin-right: 15%;
    }
}
